
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


#map {
  height:100%;
  width: 100%;
  position: absolute;

}



.leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }
